html, body, #app, #app > div {
  height: 100%;
}
body {
  font-size: 16px;
}
#app > div {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 15px 15px;
  width: 98%;
}
header, footer {
  flex-shrink: 0;
}
.panel-title {
  font-size: 19px;
}
